Hello 
%strong.user= current_user.login + ','
this is your dashboard. The command center where you can find your
%strong.anthills= link_to(t(:'dashboard.intro.anthills'), :anthills) + ','
the latest
%strong.events= t(:'dashboard.intro.events') + ','
in all your games and of course any
%strong.messages= t(:'dashboard.intro.communication')
that you have with other players.