Hello 
%strong.user= current_user.login + ','
this is your dashboard. The command center where you can find your
%strong.anthills= link_to('anthills', :anthills) + ','
the latest
%strong.events= 'events' + ','
in all your games and of course any
%strong.messages= 'communication'
that you have with other players.