%p Here you can create a new anthill. Basically that's joining a new map and game.

%p For now there's only one type of ants and your queen ant will be generated randomly. Later we will add features like wandering ants or ants that life on a tree.