- @page_title = t(:'.page_title')

- current_user.anthills.each do |anthill|
  = render :partial => 'anthill', :object => anthill


- content_for :subnavigation do
  %li= link_to t(:'anthills.subnavigation.create'), new_anthill_path