- @page_title = t(:'.page_title')

= render :partial => 'intro'

- form_for(:anthill, @anthill || current_user.anthills.new, :url => anthills_url) do |form|
  = render :partial => 'form', :object => form
  
  %p.submit
    = submit_tag t(:'.submit')
