%h2
  Welcome to
  %strong antga.me

%p
  This game let's you play with ants and maybe learn something new about those fascinating creatures. You can manage an anthill, discover the surroundings and if there's no other way, battle you neighbours.

%p
  If you already use OpenID, you can
  = link_to 'sign up', login_path
  right away, otherwise you can
  = link_to 'create an account', signup_path