%h2 Welcome to antga.me

%div{:style=> 'border:1px black solid; padding: 0 10px 0 10px '}
  %p
    To put it short:
    %strong We failed

  %p  
    But, we had no ideas on the gameplay, didn't try any processingjs or canvas stuff beforehand
    and the thing about workling/starling... well, we're learning. A browser game can't be created 
    within only 48 hours, but we got as close and we could and will prove better next year :)
  %p
    You can expect better versions of the game, with real interaction, after the contest
    on following domain: 
    %strong
      =link_to 'antygame.com', 'http://antygame.com'
  %p
    Thanks to the railsrumble team, always a pleasure.
    
%p
  This game let's you play with ants and maybe learn something new about those fascinating creatures. You can manage an anthill, discover the surroundings and if there's no other way, battle you neighbours.

%p
  Read our
  = link_to 'blog', 'http://blog.antga.me'

%p
  If you already use OpenID, you can
  = link_to 'sign up', login_path
  right away, otherwise you can
  = link_to 'create an account', signup_path
